/*
Color pallet:
    #EE7E27 Orange
    #F8F8F8 White
    #000000 Black
    #FF4500 OrangeRed
*/

/* Setting displays */
.f-display {display: flex;}
.g-display {display: grid;}

/* Page background */
html {
    background-color: #000000;
    color: #f8f8f8;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

/*
------------
  Masthead
------------
*/
.masthead {
    height: 90vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0),
        rgba(248, 248, 248, 1)
    ), url("../../imgs/programming-banner.webp");
    background-color: #1f1f1f;
    background-size: cover;
    background-position: center;
}
.masthead h1 {
    font-size: 8em;
    text-align: center;
}

/*
-----------
  Content
-----------
*/
.services {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    grid-template-columns: 100%;

    background: linear-gradient( 
        rgba(248, 248, 248, 1),
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)
    );
}
.services > a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: auto;
    text-align: center;
    margin: 30px auto;
    background-color: #EE7E27;

    border-radius: 85px;
    outline: #f8f8f8 solid 5px;
}
.services > a > section {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;

    justify-content: center;
    justify-items: center;
    align-items: center;
}
.services > a > section > h2 {
    font-size: 5em;
    text-align: center;
    margin-bottom: 15px;
}
.services > a > section > p {
    width: 80%;
    height: auto;
    font-size: 1.5em;
    text-align: center;
    margin-top: 0px;
}

/* Laptop */
@media (max-width: 1024px) {
    .services > a > section > h2 {
        font-size: 3.7em;
    }
}

/* Tablet */
@media (max-width: 768px) {
    .services > a {
        width: 90%;
    }
    .services > a > section > h2 {
        font-size: 3.3em;
    }
    .services > a > section > p {
        font-size: 1.3em;
    }
}

/* Navigation bar turned to sidebar */
@media (max-width: 525px) {
    .services > a > section > h2 {
        font-size: 2.8em;
    }
    .services > a > section > p {
        font-size: 1.2em;
    }

    /* Adjusting masthead */
    .masthead {
        height: 100vh;
    }
    .masthead h1 {
        font-size: 6em;
    }
}

/* Mobile */
@media (max-width: 320px) {
    .services > a > section > h2 {
        font-size: 2.5em;
    }
    .services > a > section > p {
        font-size: 1em;
    }
    .masthead h1 {
        font-size: 4.8em;
    }
}