/*
Color pallet:
    #EE7E27 Orange
    #F8F8F8 White
    #000000 Black
    #FF4500 OrangeRed
*/

/* Setting displays */
.f-display {display: flex;}
.g-display {display: grid;}

/* Page background */
html {
    background-color: #000000;
    color: #f8f8f8;
    scroll-behavior: smooth;
}

/* Navigator */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100px;

    background-color: #EE7E27;
}
header nav {
    padding-right: 2em;
}
header li {
    list-style: none;
    margin: 0px 10px;
}
header li a {
    color: #000000;
    text-decoration: none;
    font-size: 1.3em;
    transition: color .25s linear;
}
header a img {
    margin-top: 5px;
    margin-left: 10px;
    height: 80px;
    width: auto;
}
a {
    text-decoration: none;
    color: #000;
}
/* Header transition */
header li a:hover {
    color: #f8f8f8;
}

/*
------------
  Masthead
------------
*/
.masthead {
    height: 550px;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
}
.masthead h1 {
    font-size: 8em;
    text-align: center;
}

/*
-----------
  Content
-----------
*/
.home {
    padding-top: 30px;
    height: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.home section {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 790px;
    max-width: 60%;
    height: 315px;
    margin: 3% 3%;
    
    background-color: #EE7E27;
    outline: #f8f8f8 solid 5px;
    border-radius: 105px;
    color: #000000;

    transition-duration: .7s;
    transition-timing-function: ease-in-out;
}
.home section:nth-child(even) {
    align-self: flex-end;
}
.home section h2 {
    position: relative;
    left: auto;
    width: auto;
    height: auto;

    
    font-size: 8em;
    text-wrap: nowrap;
    text-align: center;
    text-decoration: underline;

    transition-property: font-size, transform, left;
    transition-duration: .7s;
    transition-timing-function: ease-in-out;
}
.home section p {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;

    align-items: end;

    width: 0;
    height: auto;
    
    opacity: 0;
    font-size: 24px;
    text-align: center;

    clip-path: inset(0 50% 0 50%);
    
    transition-property: opacity, clip-path, width;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}
/*
    All section
    transforms
*/
.home section:hover {
    transform: scale(1.2);
    margin: 6% 10%;
}
.home section:hover h2{
    left: 0px;
    margin-top: 47px;
    font-size: 5em;
}
.home section:hover p {
    visibility: visible;
    position: inherit;
    clip-path: inset(0 0 0 0);
    min-width: 350px;
    height: auto;
    opacity: 1;
}


/*
------------
  Services
------------
*/
.services {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    grid-template-columns: 100%;
}
.services section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 458px;
    text-align: center;
    margin: 30px auto;
    background-color: #EE7E27;

    border-radius: 105px;
    outline: #f8f8f8 solid 5px;
}
.services section a {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25%;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.services section h2 {
    font-size: 5em;
    text-align: center;
}
.services section p {
    width: 60%;
    height: auto;
    font-size: 1.5em;
    text-align: center;
}
/*
#py-dev {
    background-image: ;
}
#web-dev {
    background-image: ;
}
#cpp-dev {
    background-image: ;
}
#php-dev {
    background-image: ;
}
#java-dev {
    background-image: ;
}
*/