/*
Color pallet:
    #EE7E27 Orange
    #F8F8F8 White
    #000000 Black
    #FF4500 OrangeRed
*/

/* Setting displays */
.f-display {display: flex;}
.g-display {display: grid;}

/* Page background */
html {
    background-color: #000000;
    color: #f8f8f8;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #000;
}

/*
------------
  Masthead
------------
*/
.masthead {
    height: 550px;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
}
.masthead h1 {
    font-size: 128px;
    text-align: center;
}

/*
-----------
  Content
-----------
*/
.home {
    padding-top: 30px;
    height: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.home div {
    background-color: #EE7E27;
    outline: #f8f8f8 solid 5px;
    border-radius: 105px;
    color: #000000;

    cursor: pointer;

    transition-duration: .7s;
    transition-timing-function: ease-in-out;
}
.home div:nth-child(even) {
    align-self: flex-end;
}
.home div h2 {
    position: relative;
    left: auto;
    width: auto;
    height: auto;

    text-wrap: nowrap;
    text-align: center;
    text-decoration: underline;

    transition-property: font-size, transform, left;
    transition-duration: .7s;
    transition-timing-function: ease-in-out;
}
.home div p {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;

    align-items: end;

    width: 0;
    height: auto;
    
    opacity: 0;
    text-align: center;

    clip-path: inset(0 50% 0 50%);
    
    transition-property: opacity, clip-path, width;
    transition-duration: 1.5s;
    transition-timing-function: ease-in-out;
}
/*
    All section
    transforms
*/
.home div:hover {
    transform: scale(1.2);
    margin: 6% 10%;
}
.home div:hover h2{
    left: 10px;
    margin-top: 47px;
    font-size: 80px;
    
    padding-left: 20px;
    padding-right: 20px;
}
.home div:hover p {
    visibility: visible;
    position: inherit;
    clip-path: inset(0 0 0 0);
    height: auto;
    opacity: 1;
}


/*
---------
  About
---------
*/

.about-section {
    width: 90%;
    height: auto;
    margin: 40px auto;

    border-radius: 105px;

    background-color: #EE7E27;
}
.about-section section {
    position: relative;
    text-align: center;
}
.about-section section img {
    width: 99%;
    height: auto;

    border-radius: 105px;

    object-fit: cover;
    z-index: 1;
}
.about-section section div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.full-section {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    height: auto;
}
.half-section {
    position: relative;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: auto;
}


@media (min-width: 1024px){
    .home div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        width: 60%;
        height: 315px;
        margin: 3% 3%;
    }
    .home div h2 {
        font-size: 6.8em;
    }
    .home div:hover h2 {
        font-size: 2.8em;
        margin-right: 5px;
    } 
    .home div p{
        font-size: 1.7em;
        width: 80%;
        margin-right: 5px;
        margin-left: 5px;
    }
}

@media (max-width: 1000px) {
    .home div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        width: 60%;
        height: 40%;
        margin: 3% 3%;
    }
    .home div:hover {
        transform: scale(1);
        margin: 3% 3%;
    }
    .home div h2 {
        font-size: 3em;
        clip-path: inset(0 0 0 0);
        margin-bottom: 25px;
    }
    .home div:hover h2 {
        left: auto;
        margin-top: 39.84px;
        font-size: 3em;
    }
    .home div p {
        visibility: visible;
        position: inherit;
        opacity: 1;
        font-size: 1.5em;
        width: 80%;
        height: auto;
        clip-path: inset(0 0 0 0);
        margin-top: 0px;
    }
    .home div:hover p {
        visibility: visible;
        position: inherit;
        clip-path: inset(0 0 0 0);
        height: auto;
        opacity: 1;
    }
}

@media (max-width: 525px) {
    .home div:nth-child(even),
    .home div:nth-child(odd) {
        align-self: center;
        width: 85%;
    }
}

@media (max-width: 320px) {
    .masthead h1 {
        font-size: 6em;
    }
    .home div h2 {
        font-size: 2.5em;
        margin-bottom: 10px;
    }
    .home div p {
        font-size: 1.2em;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .home div {
        border-radius: 70px;
    }
}
